body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
}

#header {
  background-color: #0F7CAB;
  color: #FFF;
  padding: .5em;
}

h1 {
  font-family: Courier New;
  margin: 0;
  padding: 0;
}

#deploy {
  background-color: #eee;
  border: 1px solid #999;
  padding: .5em;
  margin: 1em;
  width: 260px;
  float: right;
}

#deploy h2 {
  font: bold 120% Verdana;
  margin: 0 0 .5em 0;
  padding: 0;
}

#deploy label {
  font: bold 83% Verdana;
  display: block;
}

#deploy div {
  padding-bottom: .5em;
}

#deploy textarea {
  width: 90%;
  height: 4em;
}

#deploymentHistory {
  margin: 1em;
}

#deploymentHistory li {
  margin-bottom: .5em;
}

#deployment {
  margin: 1em;
}

#deployment pre {
  padding: 1em;
  width: 90%;
  background-color: black;
  color: #00ff00;
  overflow: scroll;
}
