php_value date.timezone 'America/New_York'
php_value include_path ".:lib/phpseclib0"

AuthType Basic
AuthName "Deployer"
AuthUserFile deployer_users.htpasswd
Require valid-user

<Files ~ "\.sqlite3$">
  Order allow,deny
  Deny from all
</Files>

<Files ~ "\.htpasswd$">
  Order allow,deny
  Deny from all
</Files>

<Files ~ "^setup.php$">
  Order allow,deny
  Deny from all
</Files>
